<h1>total amount: {{totalAmount}}</h1>

{{#each records}}
<div>
  <span>{{this.category}}</span>
  <span>{{this.name}}</span>
  <span>{{this.date}}</span>
  <span>{{this.amount}}</span>
  <a href="/edit/{{this._id}}">edit</a>
  <form action="/delete/{{ this._id }}" method="POST" style="display: inline;">
    <button class="" type="submit">delete</button>
  </form>
</div>
{{/each}}

<a href="/new">create</a>