<h1>total amount: {{totalAmount}}</h1>

{{#each records}}
<div>
  <span>{{this.category}}</span>
  <span>{{this.name}}</span>
  <span>{{this.date}}</span>
  <span>{{this.amount}}</span>
</div>
{{/each}}